img.user_img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.user_name {
    font-weight: bold;
}

em {
    color: red;
    font-style: normal;
}