img.user_img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: unset;
}

em {
    color: red;
    font-weight: bolder;
    font-style: normal;
}